body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.input-container {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  transition: background-color 0.3s ease; /* Add a smooth background color transition */
}

button:hover {
  background-color: #45a049;
}

.result {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
  opacity: 0; /* Set initial opacity to 0 */
  animation: fadeIn 0.5s ease forwards; /* Apply fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
